<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
 <!-- 引入db.properties文件 -->
<context:property-placeholder location="classpath:com/hsp/dispatch/db.properties,classpath:com/hsp/dispatch/db2.properties"/>       
        
 <!-- 配置DBUtil对象 ${} 为占位符 读取properties中的数据 -->       
<bean id="dbutil" class="com.hsp.dispatch.DBUtil">
	<property name="name" value="${name}"/>
	<property name="drivername" value="${drivername}"/>
	<property name="url" value="${url}"/>
	<property name="pwd" value="${pwd}"/>
</bean>        
 
<bean id="dbutil2" class="com.hsp.dispatch.DBUtil">
	<property name="name" value="${db2.name}"/>
	<property name="drivername" value="${db2.drivername}"/>
	<property name="url" value="${db2.url}"/>
	<property name="pwd" value="${db2.pwd}"/>
</bean>               
        
</beans>
